/SocketClient/Debug/BuildLog.htm
/SocketClient/Debug/SocketClient.exe
/SocketClient/Debug/SocketClient.exe.embed.manifest
/SocketClient/Debug/SocketClient.exe.embed.manifest.res
/SocketClient/Debug/SocketClient.exe.intermediate.manifest
/SocketClient/Debug/SocketClient.ilk
/SocketClient/Debug/SocketClient.obj
/SocketClient/Debug/SocketClient.pdb
/SocketClient/Debug/mt.dep
/SocketClient/Debug/vc90.idb
/SocketClient/Debug/vc90.pdb
/SocketServer/Debug/BuildLog.htm
/SocketServer/Debug/SocketClientDlg.obj
/SocketServer/Debug/SocketHandle.obj
/SocketServer/Debug/SocketServer.exe
/SocketServer/Debug/SocketServer.exe.embed.manifest
/SocketServer/Debug/SocketServer.exe.embed.manifest.res
/SocketServer/Debug/SocketServer.exe.intermediate.manifest
/SocketServer/Debug/SocketServer.ilk
/SocketServer/Debug/SocketServer.obj
/SocketServer/Debug/SocketServer.pch
/SocketServer/Debug/SocketServer.pdb
/SocketServer/Debug/SocketServer.res
/SocketServer/Debug/SocketServerDlg.obj
/SocketServer/Debug/mt.dep
/SocketServer/Debug/stdafx.obj
/SocketServer/Debug/vc90.idb
/SocketServer/Debug/vc90.pdb
